spring:
  application:
    name: ivory-be
  cloud:
    aws:
      s3:
        bucket: ${S3_BUCKET}
      credentials:
        access-key: ${S3_ACCESS_KEY}
        secret-key: ${S3_SECRET_KEY}
      region:
        static: ap-northeast-2

  datasource:
    url: jdbc:mysql://${DB_HOST}:3306/ivory?serverTimezone=Asia/Seoul&useSSL=false&allowPublicKeyRetrieval=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQLDialect

runner:
  url: "http://54.180.241.187:8080"
  instance-id: ${RUNNER_INSTANCE_ID}
  region: ap-northeast-2

ivory-fe:
  url: "https://d27ghwslc959bz.cloudfront.net"